.App {
  text-align: center;
}

.Header {
  border-top: 10px;
  border-bottom: 10px;
}

.pill{
  margin: 10px;
  width: 90%;
}
#searchBar{
  text-align: center;
  margin-top: 3px;
}
#typeDropdown {
  margin-left: 10px;
}
