.App {
  text-align: center;
}

.Header {
  border-top: 10px;
  border-bottom: 10px;
}

.pill{
  margin: 10px;
  width: 90%;
}

#pillimage{
  width: 90%;
  max-width: 200px;
  min-width: 50px;
}

#pilldescription{
  display: grid;
  grid-template-columns:40% 60%;
  grid-template-rows:80% 20%;
  text-align: left;
  vertical-align: center;

}

#searchBar{
  text-align: center;
  margin-top: 3px;
}

#typeDropdown {
  margin-left: 10px;
}
